In [1]:
import os
os.chdir('../')
import geopandas as gpd
import pandas as pd
import numpy as np

In [2]:
gadm_1_v = pd.read_csv("combined_dataset/GADM_1_variables.csv")
gadm_1_geo = gpd.read_file("combined_dataset/GADM_1_geometries.gpkg")
gadm_1 = gadm_1_geo.merge(gadm_1_v, on='GID_1', how='inner')

In [3]:
gadm_1.head()

,GID_1,geometry,Unnamed: 0,GID_0,COUNTRY,NAME_1,VARNAME_1,NL_NAME_1,TYPE_1,ENGTYPE_1,...,evangelical presbyterian,pentecotist,baha'i,jehovah's witness,jewish,mammon,pentecostal/born again/evangelical,presbyterian,salvation army,apostolic sect
0,SEN1,"MULTIPOLYGON (((-17.46764 14.64874, -17.46764 ...",0,SEN,Senegal,Dakar,Cap Vert|Dacar,NaN,Région,Region,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SEN2,"MULTIPOLYGON (((-16.04326 14.55500, -16.04513 ...",1,SEN,Senegal,Diourbel,NaN,NaN,Région,Region,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,SEN3,"MULTIPOLYGON (((-16.65347 13.64736, -16.65347 ...",2,SEN,Senegal,Fatick,NaN,NaN,Région,Region,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,SEN4,"POLYGON ((-15.39492 13.75729, -15.39724 13.754...",3,SEN,Senegal,Kaffrine,NaN,NaN,Région,Region,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,SEN5,"POLYGON ((-15.99889 13.59169, -15.99910 13.591...",4,SEN,Senegal,Kaolack,NaN,NaN,Région,Region,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
health_ind = pd.read_csv('external_dataset/dhs_health.csv')

In [10]:
health_ind.isna().any()

GID_1                                 False
rel_major                              True
rel_minor                              True
lang_major                             True
lang_minor                             True
                                      ...
mammon                                 True
pentecostal/born again/evangelical     True
presbyterian                           True
salvation army                         True
apostolic sect                         True
Length: 231, dtype: bool

In [18]:
health_ind.plot .ch_allvac_either_yes))

(array([11,  6, 22, 40, 51, 65, 71, 89, 73, 33]),
 array([0. , 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1. ]))

In [16]:
health_ind.ch_allvac_either_no

0      0.222222
1      0.151261
2      0.430380
3      0.136752
4      0.129412
         ...
456    0.769231
457    0.764706
458    0.568182
459    0.897436
460    0.875000
Name: ch_allvac_either_no, Length: 461, dtype: float64